.main {
    padding: 1rem 1.5rem;
    text-align: center;
}

#main-form {
    justify-content: center;
}

#result {
    display: none;
}

#error {
    display: none;
}

#entries {
    margin-top: 20px;
    justify-content: center;
}

#entries .entry {
    padding: 6px;
    background: #d0e7ff;
    border-radius: 5px;
}

#user-info {
    margin-top: 30px;
    text-align: center;
}