body {
    padding-top: 2rem;
}

.main {
    padding: 1rem 1.5rem;
    text-align: center;
}

#main-form {
    justify-content: center;
}

#result-block, #result-firebase, #error {
    display: none;
}
